
body {
    padding-top: 0px;
}

.couleurHeader{
    background-color:#6D9BE8;
}


.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    display: none;
}

.H1JourneeReseau {
    font-family: Anton;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #FAAA00;
    border-color: black;
}

