
.sidebar h2 {
    background: white;
    font-family: 'Oswald';
    color: black;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
    letter-spacing: normal;
    border-bottom: 5px solid #c03;
    width: 100%;
    display: block;
    padding-bottom: 9px;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: black;
}


