a#actions-menu-update_set {
    display: none;
}

a#actions-menu-rss {
    display: none;
}

a#actions-menu-view_xml{
    display: none;
}

a#actions-menu-show_all{
    display: none;
}

.navbar-inner {
    background-image:none;
    background-color: 'white';
}
