body .navbar {
    border-bottom: 5px solid #d5d7db;
    border-top: none;
}

.navbar-brand.logo.tiny-logo {
    color: black;
}


.pubFbkBig {
    font-family: 'Oswald', cursive;
    font-size: 200%;
    background-color: yellow;
}

.pubFbk {
    font-family: 'Oswald', cursive;
    font-size: 150%;
    margin-bottom: 10px;
}

.copyright {
    text-align: right;
    font-size: 80%;
}

h1 {
    font-family:'Oswald';
    -webkit-margin-before: none;
    text-transform: uppercase;
    margin-top: 0.67em;
}


.sidebar h2 {
    background: white;
    font-family: 'Oswald';
    color: black;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
    letter-spacing: normal;
    border-bottom: 5px solid #c03;
    width: 100%;
    display: block;
    padding-bottom: 9px;
    text-align: left;
}

.navbar-zipson .navbar-nav > li a:hover, .navbar-zipson .navbar-nav > li a:focus {
    background: white;
    color: black;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: yellow;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: black;
}

a, a:hover, a:focus {
    color: blue;
}

a.souligne {
    color: inherit;
    text-decoration:none;
}


