
body {
    padding-top: 0px;
}

.couleurHeader{
    background-color:#6D9BE8;
}


.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    display: none;
}

h1{
    text-transform: uppercase;
    font-family: Anton;
}

.H1JourneeReseau {
    font-family: Anton;
    margin-bottom: 50px;
}

.panel-default {
    border-color: black;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #FAAA00;
    border-color: black;
}

.panel-title {
    font-weight: bold;
}

.panel-body.text-center.bleu {
    background-color: #46AAB3;
}


.navbar-default {
    font-family: Anton;
    font-size: large;
    background-color: #FAAA00;
     border-color: #C38500;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: black;
}
.navbar-default .navbar-nav > li > a {
    color: black;
}
