/* ajouté directement dans la customization css de blogspot

.tabs:first-child .widget {
    margin-bottom: 7px;
}

*/


body {
    padding-top: 0px;
}

.couleurHeader{
    background-color:#6D9BE8;
}


.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    display: none;
}

h1{
    text-transform: uppercase;
    font-family: 'Anton';
        margin-top: 0px;
}

.H1JourneeReseau {
    font-family: 'Anton';
    margin-bottom: 50px;
}

.panel-default {
    border-color: black;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #FAAA00;
    border-color: black;
}

.panel-title {
    font-weight: bold;
}

.panel-body.text-center.bleu {
    background-color: #46AAB3;
}


.navbar-default {
    font-family: 'Anton';
    font-size: large;
    background-color: #FAAA00;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: black;
    background-color: #FFCC62;
}
.navbar-default .navbar-nav > li > a {
    color: black;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #FFCC62;
    color: black;
}
.navbar-nav > li {
    float: left;
    font-size: larger;
}

.H1campagne2015, .H2campagne2015{
        text-transform: uppercase;
    font-family: Anton;
    font-size: 250%;
}

.wpcu_block_title {
    text-align: left;
    font-weight: bold;
    font-size: 250%;
    line-height: 2.2em;
    color: black;
    font-family: anton;
    text-transform: uppercase;
}

.wpcufpn_container.default .text, .wpcufpn_container.default .date, .wpcufpn_container.default .category {
    font-size: 1em;
    font-family: "Helvetica Neue",'Helvetica','Arial',sans-serif;
    color: black;
}

.wpcufpn_container.default .title {
    font-size: 1.3em;
   
}

.wpcufpn_container .read-more {
    color: #337ab7;
    font-size: 1.1em;
}

.tabs-outer {
    background: #faaa00 ;
}

h3.post-title{
    display:none;
}

.tabs-inner .widget li a {
    font-family: 'Anton';
    text-transform:uppercase;
    font-size: 20px;
}

.date-outer {
        -webkit-box-shadow: none;
    border:none;
}

#blog-pager {
    display:none;
}

.feed-links {display: none;}

.title{
    font-family:'anton';
    text-transform:uppercase;
    text-align: center;
}

body .navbar {
    display:none;
}

.tabs-inner .widget li a {
    height: inherit;
    line-height: inherit;
}

.tabs-inner .widget li a{
    border-top:none;
}

.tabs-inner .widget li.selected a, .tabs-inner .widget li a:hover {
    background: #faaa00;
    color: #000000;
    border-top:none;
}
