img{
max-width: 100%;
height: auto;
}

.PageList {
    text-transform: uppercase;
}

.tabs-inner .widget li a {
 border-right: 0px solid #dddddd; 
}

a.menu-droite {
    color: black;
    font: normal bold 20px 'Oswald';
}
