.breadcrumb {
    background-color:none;
    background-image:none;
    border:none;
    border-radius:none;
    box-shadow: none;
}

.widget-header{
    display:none;
}

#actions-menu-delete {
    background-color: #da4f49;
    color: white;
}
#actions-menu-edit{
    color: #ffffff;
    background-color: #0044cc;
}
a#actions-menu-update_set {
    display: none;
}

a#actions-menu-rss {
    display: none;
}

a#actions-menu-view_xml{
    display: none;
}

a#actions-menu-show_all{
    display: none;
}

.navbar-inner {
    background-image:none;
    background-color: white;
}

.navbar .nav>li>a {
    color: black !important;
    text-shadow:none;
}

body {
    background: white;
}

.widget-content {
    border:none;
}

.table-striped tbody tr:nth-child(2n+1) td, .table-striped tbody tr:nth-child(2n+1) th {
    background-color: white;
}

.table-bordered th {
    /*background: #016375;*/
    filter: none;
    
}

th > a {
    color: white;
}

.unmarked_link {
    color: black;
}

.dataface-view-status{
    display:none;
}

.record-view-label {
    width: 30%;
    text-align: right;
}
